*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(102, 75, 2);
    display: flex;
    justify-content: center;
}

.container{
    margin: 1.2rem;
    border: solid 1px;
    width: 60%;
}

.thin-hr{
    height: 0.06pt;
    opacity: 50%;
    background-color: black;
    border: none
}
.thick-hr{
    height: 2pt;
    background-color: black;
    border: none;
}

h3{
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.bottom-part{
    display: flex;
}

.contains{
    font-size: 0.8rem;
    background-color: white;
    border: 2px solid;
    margin-right: 1rem;
    flex: 1;
    padding: 1px;
}

.talimatlar{
    flex: 2;
}

.con-part{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.con-part2{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1rem;
}

table{
    width: 100%;
    font-size: 0.7rem;
}
table tr{
    display: flex;
    justify-content: space-between;
}

tr{
    border-bottom: 0.06pt solid gray;
}

tr.inner{
    margin-left:7px;
}

table tr:last-child{
    border-bottom: none;
}

.talimatlar > p:nth-last-child(2){
    text-align: end;
    margin-right: 1rem;
}

.barcod-ad{
    display: flex;
    justify-content: space-between;
}

.barcod-ad p:not(.email){
    text-transform: uppercase;
}

.ad{
    flex: 1;
}

.barcod{
    flex: 1;
    height: 6.5rem;
    background-color: white;
    margin-top: 1.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.campany{
    background-color: red;
    height: 4.5rem;
    color: white;
    border: 2px solid;
}

.campany h2{
    font-size: 2.5rem;
    letter-spacing: 3px;
    
}

.campany p{
    text-transform: uppercase;
}