*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  text-align: left;
  clear: both;
}

h1 span{
  color: blueviolet;
}

footer {
  text-align: right;
  color: midnightblue;
}

.card{
  margin: 2%;
  width: 46%;
  height: 25%;
}

.left{
  float: left;
}

.right{
  float: right;
  
}

img{
  width: 30%;
  float: left;
  margin: 1rem;
}

@media(max-width:750px){

  .card{
    width: 100%;
    margin: 0;
    display: block;
  }


img{
  width: 100%;
  object-fit: cover;
  margin: 10px 0;
  
}
}