body{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

img{
    border: 5px solid white;
}

div{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}
